@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* colors */
        --color-dark-1: #000000;
        --color-dark-2: #1d1f20;
        --color-light-1: #fefefe;
        --color-light-2: #eceef0;
        --color-gray-1: #6f747b;
        --color-gray-2: #53575d;
        --color-error-1: #ec515c;
        --color-error-2: #e25a63;
        --color-blue-1: #3b82f6;
        --color-blue-2: #3b9ff6;
        --color-green-1: #1d7d5d;
        --color-green-2: #2d8a7f;

        /* font-weight */
        --light: 300;
        --normal: 400;
        --medium: 500;
        --semibold: 600;
        --bold: 700;
    }
}

@layer base {
    body {
        @apply font-open-sans bg-dark-1 text-light-2;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-roboto font-medium;
    }
    h1 {
        @apply text-[2rem] leading-8;
    }
    h2 {
        @apply text-[1.75rem] leading-7;
    }
    h3 {
        @apply text-[1.5rem] leading-6;
    }
    h4 {
        @apply text-[1.25rem] leading-5;
    }
    h5 {
        @apply text-[1.125rem] leading-[1.125rem];
    }
    p {
        @apply text-gray-1 tracking-[0.4px];
    }
    ::-webkit-scrollbar {
        @apply w-[0.625rem];
    }
    ::-webkit-scrollbar-track {
        @apply bg-dark-2;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-2;
    }
}

@layer components {
    .focus-style {
        @apply outline-none ring-4 ring-pink-500 ring-opacity-50;
    }
}

/* general */
.custom-container {
    @apply container w-[90%] max-w-7xl;
}

.button-svg {
    @apply transform group-hover:translate-x-1 transition-all;
}

/* home page */
.hero-heading {
    @apply text-[12.5vw] xl:text-[10rem] leading-[12.5vw] xl:leading-[10rem] font-normal whitespace-nowrap;
}

/* --------------- CUSTOM_CSS --------------------- */

.blob-bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(7.2rem);
    z-index: -2;
}

.blob {
    position: absolute;
    height: 22rem;
    width: 22rem;
    background: linear-gradient(to right, #1d7d5d, #371b6f, #2a2a90, #7e5514);
    background-size: 250%;
    background-position: 0 0;
    border-radius: 50%;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    animation: animate-bg 20s linear infinite;
    z-index: -3;
}

@keyframes animate-bg {
    0% {
        background-position: 0 0;
        rotate: 0deg;
    }
    50% {
        background-position: 100% 200%;
        scale: 1 1.5;
    }
    100% {
        background-position: 0 0;
        rotate: 360deg;
    }
}
