@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* colors */
        --color-dark-1: #0c0c0c;
        --color-dark-2: #2a2a2b;
        --color-dark-3: #1d1d1d;
        --color-dark-4: #111;
        --color-dark-5: #121212;
        --color-light-1: #fefefe;
        --color-light-2: #e0e0e0;
        --color-light-3: #aeaeae;
        --color-light-4: #939393;
        --color-gray-1: #6f747b;
        --color-gray-2: #53575d;
        --color-gray-3: #373a3d;
        --color-gray-4: #19191b;
        --color-gray-5: #2f3031;
        --color-error-1: #ec515c;
        --color-error-2: #e25a63;
        --color-blue-1: #3b82f6;
        --color-blue-2: #3b9ff6;
        --color-blue-3: #2e6dd2;
        --color-green-1: #1d7d5d;
        --color-green-2: #2d8a7f;
        --color-green-3: #20a161;
        --color-light-green-1: #69c050;
        --color-light-green-2: #66ba4e;
        --color-light-green-3: #65b44f;
        --color-focus-1: #d21ea2;
        --color-focus-2: #bc2293;
        --color-red-1: #eb4643;
        --color-red-2: #df413f;
        --color-red-3: #d23e3b;
        --color-yellow-1: #ebab3c;
        --color-yellow-2: #e2a439;
        --color-yellow-3: #d69c38;

        /* font-weight */
        --light: 300;
        --normal: 400;
        --medium: 500;
        --semibold: 600;
        --bold: 700;
    }
}

@layer base {
    body {
        @apply font-open-sans bg-dark-1 text-light-2;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-roboto font-medium;
    }
    h1 {
        @apply text-[2rem] leading-8;
    }
    h2 {
        @apply text-[1.75rem] leading-7;
    }
    h3 {
        @apply text-[1.5rem] leading-6;
    }
    h4 {
        @apply text-[1.25rem] leading-5;
    }
    h5 {
        @apply text-[1.125rem] leading-[1.125rem];
    }
    p {
        @apply text-gray-1 tracking-[0.4px];
    }
    ::-webkit-scrollbar {
        @apply w-1 h-2;
    }
    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-2 rounded-md;
    }
    button,
    input,
    textarea,
    div,
    a {
        -webkit-tap-highlight-color: transparent !important;
    }
    button:focus-visible,
    input:focus-visible,
    textarea:focus-visible,
    a:focus-visible {
        @apply outline-none ring-2 ring-focus-1;
    }
    ol,
    ul {
        @apply px-6 list-disc;
    }
    ol {
        @apply list-decimal;
    }
}

@layer components {
    .ufo-path {
        clip-path: polygon(15% 0%, 85% 0%, 110% 100%, -10% 100%);
    }
}

/* general */
.custom-container {
    @apply container w-[90%] max-w-7xl;
}

.button-svg {
    @apply transform group-hover:translate-x-1 transition-all;
}

/* home page */
.hero-heading {
    @apply text-[12.5vw] xl:text-[10rem] leading-[12.5vw] xl:leading-[10rem] font-normal whitespace-nowrap;
}

/* single chat page */
.tiptap p {
    @apply text-light-2;
}

/* auth page */

/* clerk branding */
.cl-internal-b3fm6y {
    display: none !important;
}

/* --------------- CUSTOM_CSS --------------------- */

.blob-bg {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    backdrop-filter: blur(7.2rem);
    z-index: -3;
}

.blob {
    position: absolute;
    height: 22rem;
    width: 22rem;
    background: linear-gradient(to right, #1d7d5d, #371b6f, #2a2a90, #7e5514);
    background-size: 250%;
    background-position: 0 0;
    border-radius: 50%;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    animation: animate-bg 20s linear infinite;
    z-index: -4;
}

.chat-feed {
    background: radial-gradient(
                circle at right,
                rgba(233, 241, 223, 0) 0.3333333333em,
                var(--color-dark-5) 0.3333333333em,
                var(--color-dark-5) 0.4888888889em,
                rgba(233, 241, 223, 0) 0.4888888889em,
                rgba(233, 241, 223, 0) 0.8222222222em,
                var(--color-dark-5) 0.8222222222em,
                var(--color-dark-5) 0.9777777778em,
                rgba(233, 241, 223, 0) 0.9777777778em,
                rgba(233, 241, 223, 0) 1.3111111111em,
                var(--color-dark-5) 1.3111111111em,
                var(--color-dark-5) 1.4666666667em,
                rgba(233, 241, 223, 0) 1.4666666667em
            )
            0 0,
        radial-gradient(
                circle at left,
                rgba(233, 241, 223, 0) 0.5777777778em,
                var(--color-dark-5) 0.5777777778em,
                var(--color-dark-5) 0.7333333333em,
                rgba(233, 241, 223, 0) 0.7333333333em,
                rgba(233, 241, 223, 0) 1.0666666667em,
                var(--color-dark-5) 1.0666666667em,
                var(--color-dark-5) 1.2222222222em,
                rgba(233, 241, 223, 0) 1.2222222222em
            )
            0 3.0514619883em,
        linear-gradient(
                to right top,
                var(--color-dark-5) 0.1555555556em,
                rgba(233, 241, 223, 0) 0.1555555556em
            )
            1.2222222222em 0.1555555556em,
        linear-gradient(
                to left top,
                var(--color-dark-5) 0.1555555556em,
                rgba(233, 241, 223, 0) 0.1555555556em
            )
            1.2222222222em 0.1555555556em,
        linear-gradient(
                to right bottom,
                var(--color-dark-5) 0.1555555556em,
                rgba(233, 241, 223, 0) 0.1555555556em
            )
            1.2222222222em 0.1555555556em,
        linear-gradient(
                to left bottom,
                var(--color-dark-5) 0.1555555556em,
                rgba(233, 241, 223, 0) 0.1555555556em
            )
            1.2222222222em 0.1555555556em;

    background-size: 2.9em 2.9em;
    background-color: var(--color-dark-1);
}

@keyframes animate-bg {
    0% {
        background-position: 0 0;
        rotate: 0deg;
    }
    50% {
        background-position: 100% 200%;
        scale: 1 1.5;
    }
    100% {
        background-position: 0 0;
        rotate: 360deg;
    }
}
