@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* colors */
    --color-dark-1: #000000;
    --color-dark-2: #1d1f20;
    --color-light-1: #fefefe;
    --color-light-2: #eceef0;
    --color-light-3: #53575d;
    --color-pink-1: #ec515c;
    --color-pink-2: #e25a63;
}

body {
    font-family: "Open Sans", sans-serif;
    /* background-color: var(--color-dark-1);
    color: var(--color-light-2); */
}
