@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* colors */
    --color-dark-1: #000000;
    --color-dark-2: #1d1f20;
    --color-light-1: #fefefe;
    --color-light-2: #eceef0;
    --color-gray-1: #6f747b;
    --color-gray-2: #53575d;
    --color-pink-1: #ec515c;
    --color-pink-2: #e25a63;

    /* font-weight */
    --light: 300;
    --normal: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-dark-1);
    color: var(--color-light-2);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
}
h1 {
    font-size: 2rem;
    font-weight: var(--medium);
}

h2 {
    font-size: 1.75rem;
    font-weight: var(--medium);
}

h3 {
    font-size: 1.5rem;
    font-weight: var(--medium);
}

h4 {
    font-size: 1.25rem;
    font-weight: var(--medium);
}

h5 {
    font-size: 1.125rem;
    font-weight: var(--medium);
}

.custon-button-svg {
    @apply transform group-hover:translate-x-1 transition-all;
}
