// colors
$color-dark-1: #000000;
$color-dark-2: #1d1f20;
$color-light-1: #fefefe;
$color-light-2: #eceef0;
$color-gray-2: #53575d;
$color-pink-1: #ec515c;
$color-pink-2: #e25a63;

// font-size
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// screen-sizes
$sm: 500px;
$md: 950px;
$lg: 1280px;
$sm: 1600px;
